<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frangment::page_head('Thông tin đơn hàng')">
</head>
<body>
<div class="container-fluid">
    <div class="wrapper">
        <div th:replace="navigation::sidebar"></div>
        <div class="content">
            <h3 class="title">[[${title}]]</h3>
            <div class="action-block_order-detail">
                <a th:href="@{/orders}" class="cancel-action">Quay lại</a>
                <a th:href="@{'/orders/update/' + ${order.id}}" class="edit-action">Chỉnh sửa đơn hàng</a>
            </div>

            <div class="information-order-detail">
                <div class="order-status-block">
                    <h5 class="title-name">Trạng thái đơn hàng</h5>
                    <ul class="list-status">
                        <li th:each="status : ${listOrderStatus}" class="status-item">
                            <a th:class="${status == order.status ? 'active' : ''}" th:href="@{'/orders/status/update/' + ${order.id} + '/' +${status}}" th:text="${orderStatus.get(status)}" onclick="return confirm('Xác nhận chuyển trạng thái đơn hàng')"></a>
                        </li>
                    </ul>
                </div>

                <div class="list-product-order">
                    <h5 class="title-name">Danh sách sản phẩm</h5>
                    <div class="wrapper-list">
                        <div class="product-info-block" th:each="orderDetail : ${order.orderDetails}">
                            <div class="thumb-product">
                                <img th:src="@{${orderDetail.product.mainImagePath}}" alt="">
                            </div>
                            <div class="product-detail">
                                <div class="row">
                                    <span class="text">Tên sản phẩm:</span>
                                    <span class="value" th:text="${orderDetail.product.name}"></span>
                                </div>
                                <div class="row">
                                    <span class="text">Giá sản phẩm:</span>
                                    <p class="value">
                                        <span th:text="${#numbers.formatInteger(orderDetail.unitPrice, 3, 'POINT')}"></span><sup> VNĐ</sup>
                                    </p>
                                </div>
                                <div class="row">
                                    <span class="text">Tổng số lượng mua:</span>
                                    <span class="value" th:text="'x ' + ${orderDetail.quantity} + ' sản phẩm'"></span>
                                </div>
                                <div class="row">
                                    <span class="text">Tổng tiền sản phẩm:</span>
                                    <p class="value">
                                        <span th:text="${#numbers.formatInteger(orderDetail.subtotal, 3, 'POINT')}"></span><sup> VNĐ</sup>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="order-info-block">
                    <div class="top-block">
                        <h5 class="title-name">Thông tin thanh toán</h5>
                        <div class="info-checkout">
                            <div class="row">
                                <span class="text">Tạm tính:</span>
                                <p class="value">
                                    <span th:text="${#numbers.formatInteger(order.total, 3, 'POINT')}"></span>
                                    <sup> VNĐ</sup>
                                </p>
                            </div>
                            <div class="row">
                                <span class="text">Phí vận chuyển:</span>
                                <p class="value">
                                    <span>0</span>
                                    <sup> VNĐ</sup>
                                </p>
                            </div>
                            <div class="row">
                                <span class="text">Thành tiền:</span>
                                <p class="value">
                                    <span th:text="${#numbers.formatInteger(order.total, 3, 'POINT')}"></span>
                                    <sup> VNĐ</sup>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-block">
                        <h5 class="title-name">Thông tin khác</h5>
                        <div class="component-tab-content">
                            <div class="tabs">
                                <div class="tab">
                                    <button type="button" class="tabLink" onclick="openTab(event, 'tab1')" id="defaultOpen">Thông tin khách hàng</button>
                                </div>
                                <div class="tab">
                                    <button type="button" class="tabLink" onclick="openTab(event, 'tab2')">Thông tin giao hàng</button>
                                </div>
                            </div>

                            <div id="tab1" class="tabContent">
                                <p>Email: <span th:text="${order.customer.email}"></span></p>
                                <p>Tên khách hàng: <span th:text="${order.fullName}"></span></p>
                                <p>Số điện thoại: <span th:text="${order.phoneNumber}"></span></p>
                                <p>Địa chỉ nhận hàng: <span th:text="${order.address}"></span></p>
                                <p>Thời gian đặt hàng: <span th:text="${#dates.format(order.orderTime, 'dd-MM-yyyy HH:mm')}"></span></p>
                                <p>Phương thức thanh toán: <span th:text="${typeCheckout.get(order.paymentMethod)}"></span></p>
                            </div>

                            <div id="tab2" class="tabContent">
                                <div class="table_component">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Trạng thái đơn</th>
                                            <th>Thời gian</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="orderTrack : ${listOrderTrack}">
                                            <td th:text="${orderTrack.note}" style="text-align: left"></td>
                                            <td th:text="${#dates.format(orderTrack.timeUpdated, 'dd-MM-yyyy HH:mm')}" style="text-align: right"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function openTab(evt, tabName) {
        // Hide all tab content by default
        var tabContent = document.querySelectorAll(".tabContent");
        tabContent.forEach(function(content) {
            content.style.display = "none";
        });

        // Remove the "active" class from all tab buttons
        var tabLink = document.querySelectorAll(".tabLink");
        tabLink.forEach(function(link) {
            link.classList.remove("active");
        });

        // Show the specific tab content and add "active" class to the clicked tab button
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.classList.add("active");
    }

    // Open the default tab when the page loads
    document.getElementById("defaultOpen").click();
</script>
</body>
</html>