<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frangment::page_head('Thêm Brand')">
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <div th:replace="navigation::sidebar"></div>
            <div class="content">
                <h3 class="title">[[${title}]]</h3>

                <div class="container-form">
                    <form th:action="@{/brands/save}" th:object="${brand}" method="POST" id="form-brand" enctype="multipart/form-data">
                        <input type="hidden" name="id" th:field="*{id}">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" th:field="*{name}" required>
                        </div>

                        <div class="form-group">
                            <label>Danh mục: <span style="font-weight: normal; font-style: italic">(Có thể chọn nhiều danh mục)</span></label>
                            <select th:field="*{categories}" class="select-category" required multiple style="height: 200px;">
                                <th:block th:each="item : ${categories}">
                                    <option th:value="${item.id}">[[${item.name}]]</option>
                                </th:block>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Danh mục đã chọn:</label>
                            <div class="category-choose"></div>
                        </div>

                        <div class="form-group">
                            <label>Hình ảnh:</label>
                            <div class="upload-container">
                                <input type="hidden" name="image" th:field="*{logo}">
                                <input type="file" name="logoUpload" id="imageUpload" class="input-upload" accept="image/png, image/jpg, image/jpeg">
                                <label for="imageUpload" class="upload-label">
                                    <span class="plus-icon">+</span>
                                </label>

                                <div class="error-file"></div>

                                <div class="image-preview" id="imagePreview">
                                    <img id="thumbnail" th:src="@{${brand.logo == null ? '/images/empty-thumb.png' :brand.brandLogo}}" class="image-preview__image">
                                </div>
                            </div>
                        </div>

                        <div class="form-group button-group">
                            <button type="submit" th:if="${status == 'add'}">Thêm mới</button>
                            <button type="submit" th:if="${status == 'edit'}">Cập nhật</button>
                            <button type="button" class="btn-cancel brand-cancel">Quay lại</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>