<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::page_head('Đăng ký tài khoản')"></head>
<body>
    <div class="main">
        <header th:replace="header::header(rootCategory=${rootCategory})"></header>
        <div style="width: 100%; margin: auto; transform: translateY(50%); text-align: center; padding: 22px">
            <h5 style="text-transform: uppercase; margin-bottom: 16px; font-size: 22px">Đăng ký tài khoản thành công!</h5>
            <p>Bạn vui lòng kiểm tra Email để xác thực tài khoản đã đăng ký</p>
        </div>
    </div>
</body>
</html>