<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::page_head('Đăng ký tài khoản')"></head>
<body>
    <div class="main">
        <header th:replace="header::header(rootCategory=${rootCategory})"></header>
        <div style="width: 100%; margin: auto; transform: translateY(50%); text-align: center; padding: 22px">
            <h5 style="text-transform: uppercase; margin-bottom: 16px; font-size: 22px">Xác thực tài khoản không thành công!</h5>
            <p>Mã xác thực không tồn! Vui lòng kiểm tra lại Email hoặc <a th:href="@{/register}" style="background-color: #08527A; text-decoration: none; color: #F9FAF5; font-weight: 500; padding: 5px 12px; border-radius: 25px">Đăng ký</a> tài khoản.</p>
        </div>
    </div>
</body>
</html>