<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frangment::page_head('Thêm sản phẩm')">
</head>
<body>
<div class="container-fluid">
    <div class="wrapper">
        <div th:replace="navigation::sidebar"></div>
        <div class="content">
            <h3 class="title">[[${title}]]</h3>
            <div class="container-form__product">
                <form th:action="@{/products/save}" method="POST" th:object="${product}" id="form-product" enctype="multipart/form-data">
                    <input type="hidden" name="id" th:field="*{id}">
                    <div class="component-tab-content">
                        <div class="tabs">
                            <div class="tab">
                                <button type="button" class="tablinks" onclick="openTab(event, 'tab1')" id="defaultOpen">Tổng quan</button>
                            </div>
                            <div class="tab">
                                <button type="button" class="tablinks" onclick="openTab(event, 'tab2')">Mô tả</button>
                            </div>
                            <div class="tab">
                                <button type="button" class="tablinks" onclick="openTab(event, 'tab3')">Hình ảnh</button>
                            </div>
                            <div class="tab">
                                <button type="button" class="tablinks" onclick="openTab(event, 'tab4')">Thông tin</button>
                            </div>
                            <div class="tab">
                                <button type="button" class="tablinks" onclick="openTab(event, 'tab5')">Khối lượng</button>
                            </div>
                        </div>

                        <div id="tab1" class="tabcontent">
                            <div th:replace="product/overview::content"></div>
                        </div>

                        <div id="tab2" class="tabcontent">
                            <div th:replace="product/description::content"></div>
                        </div>

                        <div id="tab3" class="tabcontent">
                            <div th:replace="product/images::content"></div>
                        </div>

                        <div id="tab4" class="tabcontent">
                            <div th:replace="product/detail::content"></div>
                        </div>

                        <div id="tab5" class="tabcontent">
                            <div th:replace="/product/shipping::content"></div>
                        </div>
                    </div>

                    <div class="form-group button-group" style="display: flex; justify-content: end; margin-top: 32px">
                        <button style="width: 200px; margin-right: 16px" type="button" class="btn-cancel product-cancel">Quay lại</button>
                        <button style="width: 200px" type="submit" th:if="${status == 'add'}">Thêm mới</button>
                        <button style="width: 200px" type="submit" th:if="${status == 'edit'}">Cập nhật</button>
                    </div>

                </form>
            </div>

        </div>
    </div>

</div>
<script type="text/javascript">
    function openTab(evt, tabName) {
        // Hide all tab content by default
        var tabcontent = document.querySelectorAll(".tabcontent");
        tabcontent.forEach(function(content) {
            content.style.display = "none";
        });

        // Remove the "active" class from all tab buttons
        var tablinks = document.querySelectorAll(".tablinks");
        tablinks.forEach(function(link) {
            link.classList.remove("active");
        });

        // Show the specific tab content and add "active" class to the clicked tab button
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.classList.add("active");
    }

    // Open the default tab when the page loads
    document.getElementById("defaultOpen").click();
</script>
</body>
</html>